<div class="index">
{% extends "layout.html" %}
{% block title %}
    mainpage
{% endblock %}
{% block body %}
        <!-- ====== -->
        <!-- HEADER -->
        <!-- ====== -->
        <header class="query-bg" data-parallax="scroll">
            <div class="search-form">
                <input class="query-box form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
                <button class="query-btn btn btn-light tm-search-btn" type="submit">
                    <i class="fas fa-search">search</i>
                </button>
            </div>                 
        </header>
        <!-- sub header  -->
        <div class="rectangle">
            nohope
        </div>

        <!-- ===== -->
        <!-- MAIN -->
        <!-- ===== -->
        <main>
            <!-- ===== -->
            <!-- POSTS -->
            <!-- ===== -->
                <!-- a post -->   
                <div class="post_container">
                    <img src="../static/images/fight_club.jpeg" alt="fight_club" class="img-fluid">
                    <div class="caption-container">
                        <figcaption>
                            <h2>fight_club</h2>
                        </figcaption>          
                        <audio controls>
                            <source src="../static/music/fight_club.mp3">
                        </audio>          
                    </div>
                </div>
                <!-- a post -->       
                <div class="post_container">
                    <img src="../static/images/cigare_soorati.jpeg" alt="cigare_soorati" class="img-fluid">    
                    <div class="caption-container">
                        <figcaption>
                            <h2>cigare_soorati</h2>
                        </figcaption>                    
                        <audio controls>
                            <source src="../static/music/cigare_soorati.mp3">
                        </audio>
                    </div>
                </div>
                <!-- a post -->
                <div class="post_container">
                    <img src="../static/images/kolmnurk.jpeg" alt="kolmnurk" class="img-fluid">
                    <div class="caption-container">
                        <figcaption>
                            <h2>kolmnurk</h2>
                        </figcaption>                    
                        <audio controls>
                            <source src="../static/music/kolmnurk.mp3">
                        </audio>
                    </div>
                </div>
        </main>
    <!-- includes script -->

    {% endblock %}
