{% extends "layout.html" %}
{% block title %}
    song
{% endblock %}
{% block body %}
    <div class="song">
    {% if session["user_id"] %}
        <form method="post" class="comment-form">
            <label for="comment">comment : </label>
            <textarea class="form-control" name="comment" rows="3"></textarea>
            <button type="submit">post comment</button>
        </form>
    {% endif %}
    <div class="comment_section container">
        {% for each in comments_list %}
            <div class="comment_box">
                <h4 class="commenter"> {{ each["username"] }}</h4>
                <p class="comment">{{ each["message"] }}</p>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
